.topbar {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;

    .fa-bars {
        margin-left: 18px;
        font-size: 20px;
        padding-top: -5px;
        display: inline-block;
        margin-bottom: 1px;
        color: gray;

        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            color: #009bea;
        }
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 5px;

        color: lighten(black, 10);

        margin-left: 10px;
    }

    .tools {
        align-items: flex-end;

        flex: 1;
        display: flex;
        flex-direction: column;

        margin-right: 20px;

        flex-direction: row-reverse;

        i {
            transition: all 0.2s;
            padding: 10px;
            font-size: 18px;

            cursor: pointer;

            &:hover {
                color: #009bea;
            }
        }
    }
}

.waitingMessage {
    color: lighten(black, 15);

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    text-align: center;
    margin-top: 25%;

    z-index: 4 !important;

    text-align: center;
    width: 100%;
    position: absolute;
}

.bars-selected {
    color: #009bea !important;
}

.leaveCall {
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 100px;
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background: #009bea;
        border: solid 1px #009bea;
        color: white;
    }
}
