#localVideo {
    position: absolute;
    bottom: 20px;
    right: 24px;
    height: 200px;
    width: 267px;
    box-shadow: 6px 7px 25px -6px rgba(0,0,0,0.75);
    border: 1px solid white;

    z-index: 2;

    video {
        width: 100%;
        height: 100%;
    }
}

#remoteVideos {
    display: flex;
    flex-direction: column;
    align-items: center;

    video {
        margin: 10px 20px;

        height: 138px;
        width: 184px;
        box-shadow: 6px 7px 25px -6px rgba(0,0,0,.55);
        border: 1px solid #fff;

        transition: all 0.2s;

        &:hover {
            transform: scale(1.2, 1.2);
        }
    }
}

#speakerVideo {
    background: #eaeaea;
    z-index: 1;

    width: 100%;
    height: 100%;

    position: absolute;
}

.mutedOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.75);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.overlayHidden {
    display: none;
}

.videoNickname {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    position: absolute;
    padding-left: 30px;
    padding-top: 15px;
}
